@media (max-width: 1160px){  
    p::before {
        content: 'I ❤️ YOU';
        display: block;
    }
}

@media (max-width: 950px){  
    p::before {
        content: 'I ❤️ Y';
        display: block;
    }
}

@media (max-width: 685px){  
    p::before {
        content: '❤️';
        display: block;
    }
}
