@keyframes adjustnegative {
    from {
        margin-right: 1vw;
        margin-left: 1vw;
    }
    to {
        margin-right: -0.5vw;
        margin-left: -0.5vw;
    }
}

@keyframes adjustpositive {
    from {
        margin-right: -0.5vw;
        margin-left: -0.5vw;
    }
    to {
        margin-right: 1vw;
        margin-left: 1vw;
    }
}

@keyframes adjustSize {
    0% { font-size: 40vh; }
    50% { font-size: 35vh; }
    100% { font-size: 40vh; }
}

@media (max-width: 1295px) {
    h1.t1::before,
    h1.t2::before,
    h1.t3::before {
        animation: adjustnegative 0.5s ease-in-out forwards;
    }
}

@media (min-width: 1296px) {
    h1.t1::before,
    h1.t2::before,
    h1.t3::before {
        animation: adjustpositive 0.5s ease-in-out forwards;
    }
}

@media (max-width: 1212px) {
    h1.t2::before {
        content: '❤️';
    }
    
    h1.t1::before,
    h1.t2::before,
    h1.t3::before {
        animation: adjustpositive 0.5s ease-in-out forwards;
    }
}

@media (max-width: 984px) {
    h1.t1::before,
    h1.t2::before,
    h1.t3::before {
        animation: adjustnegative 0.5s ease-in-out forwards;
    }
}

@media (max-width: 920px) {
    h1.t3::before {
        content: 'U';
    }
    
    h1.t1::before,
    h1.t2::before,
    h1.t3::before {
        animation: adjustpositive 0.5s ease-in-out forwards;
    }
}

@media (max-width: 635px) {
    h1.t1::before,
    h1.t2::before,
    h1.t3::before {
        animation: adjustnegative 0.5s ease-in-out forwards;
    }
}

@media (max-width: 595px) {
    h1.t1::before {
        content: '';
    }

    h1.t2::before {
        animation: adjustSize 5s ease-in-out infinite, adjustpositive 0.5s ease-in-out forwards;
    }

    h1.t3::before {
        content: '';
    }
}
